@import "../style/variables.scss";

.menuSection {
  justify-self: center;
  max-width: 1820px;
  width: 80%;
  display: grid;
  grid-template-columns: 8fr 10fr;
  height: 205px;
  align-items: center;
  .menu_list {
    grid-column: 1/2;
    width: 470px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 70px;
    cursor: pointer;
    .menu_list_item {
      font-size: 2rem;
      font-weight: 300;

      a {
        text-decoration: none;
        color: $text;
      }
    }
  }

  .nav_burger_btn {
    align-self: center;
  }
  .buttonContainer {
    grid-column: 2/3;
    justify-self: self-end;
    .button {
      width: 220px;
      height: 60px;
      font-size: 2rem;
      font-weight: 900;
    }
  }

  @media (max-width: 1024px) {
    .nav_btn {
      opacity: 1;
      visibility: visible;
      display: block;
    }
    .menuSection {
      grid-template-columns: 1fr;
    }
    .menu_list {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(166, 166, 166);

      transform: translateY(-100vh);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      grid-template-columns: none;
      grid-template-rows: none;
    }

    .nav_burger_btn {
      align-self: center;
      grid-column: 2/3;
      justify-self: end;
    }

    .buttonContainer {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: center;
    }

    .responsive_nav {
      transition: 0.2s;
      transform: none;
    }
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
  }

  @media (max-width: 420px) {
    grid-template-columns: 1fr;
    .buttonContainer {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: center;
    }

    .nav_burger_btn {
      align-self: center;
      justify-self: center;
      grid-column: 1/2;
      padding-top: 40px;
    }
  }
}

.boldText {
  font-size: 2rem;
  font-weight: bold;
  color: $text;
}

.nav_btn {
  opacity: 0;
  visibility: hidden;
  display: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: $text;
  font-size: 2.8rem;
}

.nav_close_btn {
  position: absolute;
  top: 60px;
  right: 60px;
}
